[submodule "client/src/proto/curp-proto"]
	path = client/src/proto/curp-proto
	url = https://github.com/xline-kv/curp-proto.git
[submodule "client/src/proto/xline-proto"]
	path = client/src/proto/xline-proto
	url = https://github.com/xline-kv/xline-proto.git
